{% extends '../index.html' %} 
{% load static %} 
{% block page_wrapper %}
<div class="page-wrapper custom-list-page">
  {% block wraper_header %}

  <div class="page-header d-print-none" aria-label="Page header">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">View All</div>
          <h2 class="page-title">Email</h2>
        </div>
        <!-- Page title actions -->
      </div>
    </div>
  </div>
  {% endblock %} 
  {% block wraper_body %}

  <div class="page-body">
    <div class="container-xl">
      <div class="row row-deck row-cards">

      
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Devices</h3>
            </div>
            <div class="card-body border-bottom py-3">
              <div class="d-flex">
                <div class="col-auto ms-auto d-print-none text-secondary">
                  <div class="btn-list">
                    <a
                      class="btn btn-pill btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#modal-email"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-2"
                      >
                        <path d="M12 5l0 14" />
                        <path d="M5 12l14 0" />
                      </svg>

                      Create new device
                    </a>
                  </div>
                  <!-- BEGIN MODAL -->
                  <!-- END MODAL -->
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table
                class="table table-selectable card-table table-vcenter text-nowrap table-striped table-hover datatable"
              >
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Department</th>
                    <th>Email Address</th>
                    <th>Password</th>
                    <th>Options</th>
                  </tr>
                </thead>
                <tbody>
                  {% for device in emails %}
                  <tr>
                    <td>
                      <span class="text-secondary">{{ forloop.counter }}</span>
                    </td>

                    <td>{{ device.department }}</td>

                    <td>{{ device.email_address }}</td>

                    <td>
                      <span id="pwd-{{ device.id }}">**********</span>
                      <span id="realpwd-{{ device.id }}" style="display: none">
                        {{ device.password }}
                      </span>

                      <button
                        class="btn btn-sm btn-pill btn-teal ms-2"
                        onclick="togglePassword('{{ device.id }}')"
                        title="View / Hide password"
                      >
                        <!-- Icono de ojo -->
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-eye"
                          width="20"
                          height="20"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <circle cx="12" cy="12" r="2" />
                          <path
                            d="M22 12c0 0 -4 -8 -10 -8s-10 8 -10 8s4 8 10 8s10 -8 10 -8"
                          />
                        </svg>
                      </button>
                    </td>

                    <td class="text-end">
                      <button
                        class="btn btn-sm btn-warning btn-edit"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-edit"
                        data-id="{{ device.id }}"
                        data-department="{{ device.department.id }}"
                        data-email="{{ device.email_address }}"
                        data-password="{{ device.password }}"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler me-1"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="M0 0h24v24H0z" stroke="none" />
                          <path d="M15 6l3 3l-9 9H6v-3l9-9" />
                        </svg>

                        Edit
                      </button>

                      <button
                        class="btn btn-sm btn-danger btn-delete"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-delete"
                        data-id="{{ device.id }}"
                        data-email="{{ device.email_address }}"
                        data-department="{{ device.department.name }}"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler me-1"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="M0 0h24v24H0z" stroke="none" />
                          <path d="M4 7h16" />
                          <path d="M10 11v6" />
                          <path d="M14 11v6" />
                          <path
                            d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2l1-12"
                          />
                          <path d="M9 7V4h6v3" />
                        </svg>

                        Delete
                      </button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %} 
  {% block footer%}
   {% include '../partials/footer.html'%}
    {% endblock %}
</div>
<!-- Create Modal-->
<div class="modal modal-blur fade" id="modal-email" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="modal-header">
          <h5 class="modal-title">Create new device</h5>

          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">Department</label>
              <select
                name="department"
                id="create-department"
                class="form-select"
              >
                {% for dept in departments %}
                <option value="{{ dept.id }}">{{ dept.name }}</option>
                {% endfor %}
              </select>
            </div>

          <div class="col-md-6 mb-3">
            <label class="form-label">Email</label>
            <input type="email" name="email_address" class="form-control">
          </div>

           <div class="col-md-6 mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="password" class="form-control">
              </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn me-auto" data-bs-dismiss="modal">
            Cancel
          </button>

          <button type="submit" class="btn btn-primary">Save Device</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Edit Modal -->
<div class="modal modal-blur fade" id="modal-edit" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="email_id" id="edit-email-id" />

        <div class="modal-header">
          <h5 class="modal-title">Edit Email</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">Department</label>
              <select
                name="department"
                id="edit-department"
                class="form-select"
              >
                {% for dept in departments %}
                <option value="{{ dept.id }}">{{ dept.name }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label">Email</label>
              <input
                type="email"
                name="email_address"
                id="edit-email"
                class="form-control"
              />
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label">Password</label>
              <input
                type="text"
                name="password"
                id="edit-password"
                class="form-control"
              />
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn me-auto" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal modal-blur fade" id="modal-delete" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <form method="post" id="form-delete">
        {% csrf_token %}
        <input type="hidden" name="delete_email" value="1" />
        <input type="hidden" name="email_id" id="delete-email-id" />
        <div class="modal-header">
          <h5 class="modal-title">Delete Device</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to delete
            <strong id="delete-device-name"></strong>
            from
            <strong id="delete-device-department"></strong>?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn me-auto" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Simple Datatables CSS -->
<link
  href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
  rel="stylesheet"
/>

<!-- Simple Datatables JS -->
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>



<script>
document.addEventListener("DOMContentLoaded", function () {

  const createModal = document.getElementById("modal-email");

  createModal.addEventListener("show.bs.modal", function () {
    const form = this.querySelector("form");
    form.reset();
  });

});
</script>
<!--Datatable-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tables = document.querySelectorAll(".datatable");

    tables.forEach((table) => {
      new simpleDatatables.DataTable(table, {
        columns: [
          {
            select: 4,
            sortable: false,
          },
        ],
      });
    });
  });
</script>

<!-- Edit Modal Script -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const editButtons = document.querySelectorAll(".btn-edit");

    editButtons.forEach((button) => {
      button.addEventListener("click", function () {
        document.getElementById("edit-email-id").value = this.dataset.id;
        document.getElementById("edit-department").value =
          this.dataset.department;
        document.getElementById("edit-email").value = this.dataset.email;
        document.getElementById("edit-password").value = this.dataset.password;
      });
    });
  });
</script>

<!--Delete modal-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const deleteButtons = document.querySelectorAll(".btn-delete");

    deleteButtons.forEach((button) => {
      button.addEventListener("click", function () {
        document.getElementById("delete-email-id").value = this.dataset.id;

        document.getElementById("delete-device-name").textContent =
          this.dataset.email;

        document.getElementById("delete-device-department").textContent =
          this.dataset.department;
      });
    });
  });
</script>

# Toggle Password Script
<script>
  function togglePassword(id) {
    let hidden = document.getElementById("pwd-" + id);
    let real = document.getElementById("realpwd-" + id);

    if (real.style.display === "none") {
      real.style.display = "inline";
      hidden.style.display = "none";
    } else {
      real.style.display = "none";
      hidden.style.display = "inline";
    }
  }
</script>

{% endblock%}
